/*:root {
  --_color0: #32344a;
  --_color1: #f7768e;
  --_color2: #9ece6a;
  --_color3: #e0af68;
  --_color4: #7aa2f7;
  --_color5: #ad8ee6;
  --_color6: #449dab;
  --_color7: #787c99;

  --_color8: #444b6a;
  --_color9: #ff7a93;
  --_color10: #b9f27c;
  --_color11: #ff9e64;
  --_color12: #7da6ff;
  --_color13: #bb9af7;
  --_color14: #0db9d7;
  --_color15: #acb0d0;

  --_colorFG: #a9b1d6;

  --primary: #1a1b26;
  --secondary: #16161e;
  --tertiary: #101014;

  --accent: #3d59a1;
  --highlight: #565f89;
}*/

* {
    font-family: "Terminus", "Unifont", "SijiNGWindows";
    font-size: 12px;
    font-weight: 400;
    color: #a9b1d6;
    border: none;
}

.bar {
    background: #1a1b26;
    padding: 0 2px;
}

.container-right .widget {
    margin: 0 4px;
}

.komorebi-workspaces {
    margin-left: 0;
}
.ws-btn {
    padding: 0 4px;
    background: transparent;
}
.ws-btn.populated {
    color: #9ece6a;
}
.ws-btn.active {
    color: #ad8ee6;
}
.komorebi-active-layout .label {
    margin: -4px 2px 0px 4px;
}

.komorebi-multi-window .window {
    margin: 0 8px;
    color: #444b6a;
}

.clock-widget .label {
    color: #449dab;
}
.cpu-widget .label {
    color: #e0af68;
}
.memory-widget .label {
    color: #9ece6a;
}
.musicbee-widget .label {
    color: #ad8ee6;
}
